{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header">
  {% if snake %}
    <h1>Edit {{ snake.name }}</h1>
  {% else %}
    <h1>Add a Snake</h1>
  {% endif %}
  <img src="{% static 'images/anaconda.png' %}" alt="A coiled up anaconda"/>
</div>

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Sssubmit 🐍</button>
</form>

{% endblock %}