{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="page-header">
  <h1>Release Snake?</h1>
  <img src="{% static 'images/skull-snek.png' %}" alt="A spooky snake" />
</div>
<h2>Are you sure you want to set {{snake.name}} free?</h2>

<form action="" method="post" class="form">
  {% csrf_token %}
  <a 
    href="{% url 'snake-detail' snake.id %}" 
    class="btn secondary"
  >
    Cancel
  </a>
  <button type="submit" class="btn danger">Release {{ snake.name }}!</button>
</form>

{% endblock %}