{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'images/snake-favi.png' %}"
  >
  <title>🐍 Snake Collector</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <a href="{% url 'home' %}">
        <div class="header-logo-container">
        <img 
          src="{% static 'images/vine-snake.png' %}" 
          alt="snake on a vine" 
        />
        <h1>Snake Collector</h1>
      </div>
    </a>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'snake-index' %}">All Snakes 🐍</a></li>
          <li><a href="{% url 'hide-index' %}">All Hides 🛖</a></li>
          <li><a href="{% url 'snake-create' %}">✨Add a Snake🐍</a></li>
          <li><a href="{% url 'hide-create' %}">✨Add a Hide🛖</a></li>
          {% comment %} <li><a href="{% url 'about' %}">About 🐍</a></li> {% endcomment %}
          <li><a href="{% url 'logout' %}">Log out 👋</a></li>
          {% else %}
          <li><a href="{% url 'about' %}">About 🐍</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>