{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link 
    rel="stylesheet" 
    type="text/css"
    href="{% static 'css/snakes/snake-detail.css' %}"
  />
{% endblock %}

{% block content %}

<section class="snake-container">
  <div class="snake-img">
    <img 
      src="{% static 'images/bushmaster.png' %}" 
      alt="An orange snake"
    >
  </div>
  <div class="snake-details">
    <h1>{{ snake.name }}</h1>
    {% if snake.age > 0 %}
      <h2>A {{ snake.age }} year old {{ snake.breed }}</h2>
    {% else %}
      <h2>A {{ snake.breed }} snakelet.</h2>
    {% endif %}
    <p>{{ snake.description }}</p>
    <div class="snake-actions">
      <a href="{% url 'snake-update' snake.id %}" class="btn warn">Edit</a>
      <a href="{% url 'snake-delete' snake.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}
