{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/snakes/snake-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Snake List</h1>
  <img src="{% static 'images/cool-cat.svg' %}" alt="A cool cat" />
  <img src="{% static 'images/happy-cat.svg' %}" alt="A happy cat" />
  <img src="{% static 'images/teacup-cat.svg' %}" alt="A cat in a teacup" />
  <img src="{% static 'images/cat-in-box.svg' %}" alt="A cat in a box" />
</section>

<section class="card-container">
  {% for snake in snakes %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/temp-snake-logo.png' %}" 
            alt="A skater boy cat"
          >
        </div>
        <h2 class="card-title">{{ snake.name }}</h2>
        {% if snake.age > 0 %}
          <p>A {{ snake.age }} year old {{ snake.breed }}</p>
        {% else %}
          <p>A {{ snake.breed }} snakelet.</p>
        {% endif %}
        <p><small>{{ snake.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}